<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Rdm e-ditions{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/home/apprenti/Bureau/web/projetsWCS//Rdm_V2/web/assets/shop/css/style.css">
</head>

<body>
<div class="ui container">
    <div class="container">
        <!-- '@SyliusShop/Checkout/_header.html.twig' -->
        <div class="ui basic segment">
            <div class="ui large text menu">
                <div class="ui small image">
                    <img src="/Bureau/web/projetsWCS/RDMv2/web/assets/shop/img/logo.png" />
                </div>
            </div>
        </div>

        <div class="ui padded segment">

            <!-- '@SyliusShop/Checkout/Complete/_header.html.twig' -->
            <h1 class="ui header">
                <i class="circular cart icon"></i>
                <div class="content">
                    {{ 'Récapitulatif de votre commande'|trans }}
                </div>
            </h1>

            <div class="ui segment">
                <div class="ui two column divided stackable grid">
                    <div class="column" id="shipping-address">
                        <div class="ui small dividing header">{{ 'sylius.ui.shipping_address'|trans }}</div>
                        {% include '@SyliusShop/Common/_address.html.twig' with {'address': order.shippingAddress} %}
                    </div>
                </div>
            </div>

            <table class="ui celled table" id="sylius-order">
                <thead>
                <!-- '@SyliusShop/Common/Order/Table/_headers.html.twig' -->
                <tr>
                    <th class="sylius-table-column-item">{{ 'sylius.ui.item'|trans }}</th>
                    <th class="sylius-table-column-price">{{ 'sylius.ui.price'|trans }}</th>
                    <th class="sylius-table-column-qty">{{ 'sylius.ui.qty'|trans }}</th>
                    <th class="sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
                </tr>

                </thead>
                <tbody>
                <!-- '@SyliusShop/Common/Order/Table/_items.html.twig' -->
                {% for item in order.items %}
                    <tr>
                        <td>
                            {% set variant = item %}
                            {% set product = variant.product %}

                            <div class="ui header">
                                <img src="{{ ("/home/mechiche/Projets/Rdm_V2/web/media/image/"~ product.images.snapshot.0.path) }}" class="ui bordered image">
                                <div class="content">
                                    {{ product.name }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="sylius-unit-price">{{ item.unitPrice|sylius_price(order.currencyCode, order.exchangeRate) }}</span>
                        </td>
                        <td class="center aligned">{{ item.quantity }}</td>
                        <td class="right aligned">{{ item.subtotal|sylius_price(order.currencyCode, order.exchangeRate) }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <!-- '@SyliusShop/Common/Order/Table/_totals.html.twig' -->
                <tr>
                    <th colspan="4" class="right aligned" id="subtotal">
                        {{ 'sylius.ui.subtotal'|trans }}: {{ order.itemsTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
                    </th>
                </tr>
                <tr>
                    <td colspan="4" class="right aligned" id="shipping-total">
                        {{ 'sylius.ui.shipping_total'|trans }}: {{ order.shippingTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="right aligned" id="tax-total">
                        {{ 'sylius.ui.tax_total'|trans }}: {{ order.taxTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
                    </td>
                </tr>
                <tr>
                    {% include '@SyliusShop/Common/Order/Table/_promotion.html.twig' with {'order': order} %}
                </tr>
                <tr>
                    <td colspan="4" class="right aligned" style="font-size: 1.5em;" id="total">
                        {{ 'sylius.ui.total'|trans }}: {{ order.total|sylius_price(order.currencyCode, order.exchangeRate) }}
                    </td>
                </tr>

                </tfoot>
            </table>


            <div class="ui two column stackable grid">
                <div class="column" id="payments">

                    <!-- '@SyliusShop/Common/Order/_payments.html.twig' -->
                    {% for payment in order.payments %}
                        <div class="ui large icon message">
                            <i class="payment icon"></i>
                            <div class="content">
                                <div class="header" id="payment-method">
                                    {{ payment.method }}
                                </div>
                                <p>{{ payment.amount|sylius_price(payment.currencyCode, payment.order.exchangeRate) }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column" id="shipments">

                    <!-- '@SyliusShop/Common/Order/_shipments.html.twig' -->
                    {% for shipment in order.shipments %}
                        <div class="ui large icon message">
                            <i class="truck icon"></i>
                            <div class="content">
                                <div class="header" id="shipping-method">
                                    {{ shipment.method }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui hidden divider">
        </div>
    </div>
</div>
</body>
</html>

